.imgContainer {
    position: relative;
}

.courseCoverImage {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middleBtn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.imgContainer:hover .courseCoverImage {
    opacity: 0.3;
}

.imgContainer:hover .middleBtn {
    opacity: 1;
}